@model CommonSolution.DTOs.FinalClientDto

@{
    ViewData["Title"] = "NewClient";
}

<h1>Nuevo Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.BillingType, "Empresa", new { id = "radioEM" }) Empresa
            @Html.RadioButtonFor(model => model.BillingType, "ClienteFinal", new { id = "radioCF" }) Cliente Final
        </div>
        <div id="CF" style="display: block;">
            <form asp-action="NewClient">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DocumentNumber" class="control-label"></label>
                    <input asp-for="DocumentNumber" class="form-control" />
                    <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingType" class="control-label"></label>
                    <input asp-for="BillingType" class="form-control" />
                    <span asp-validation-for="BillingType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EMail" class="control-label"></label>
                    <input asp-for="EMail" class="form-control" />
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div id="EM" style="display: none;">
            <h1>empresa</h1>
        </div>
    </div>
</div>
<script>
    document.getElementById("radioCF").checked = true;
    var radiobut = document.getElementById("radioEM");
    radiobut.addEventListener("click", setDiv);
    var radiobut = document.getElementById("radioCF");
    radiobut.addEventListener("click", setDiv);

    function setDiv() {
        if (document.getElementById("CF").style.display == "none") {
            document.getElementById("CF").style.display = "block";
            document.getElementById("EM").style.display = "none";
        }
        else {
            document.getElementById("CF").style.display = "none";
            document.getElementById("EM").style.display = "block";
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
