@model CommonSolution.DTOs.PackageDto


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark">Procesamiento de Pago</h4>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="content" style="margin-left:25px">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Efectivo</a></li>
            <li><a data-toggle="tab" href="#menu1">Crédito</a></li>
            <li><a data-toggle="tab" href="#menu2">Debito</a></li>
            <li><a data-toggle="tab" href="#menu3">Mercado Pago</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="col-3">
                    <form asp-action="ProcessCash">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Procesamiento del Paquete nro:</label>
                            <input asp-for="Id" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Total a cobrar</label>
                            <input asp-for="Price" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cobrar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-3">
                    <form asp-action="ProcessCredit">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Procesamiento del Paquete nro:</label>
                            <input asp-for="Id" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Total a cobrar</label>
                            <input asp-for="Price" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cobrar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="col-3">
                    <form asp-action="ProcessDebit">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Procesamiento del Paquete nro:</label>
                            <input asp-for="Id" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Total a cobrar</label>
                            <input asp-for="Price" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cobrar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="col-3">
                    <form asp-action="ProcessMercadoPago">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Procesamiento del Paquete nro:</label>
                            <input asp-for="Id" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Total a cobrar</label>
                            <input asp-for="Price" class="form-control" readonly />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cobrar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}