@model DataAccess.Models.PackageTrackingDetail

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>PackageTrackingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPackage" class="control-label"></label>
                <select asp-for="IdPackage" class="form-control" asp-items="ViewBag.IdPackage"></select>
                <span asp-validation-for="IdPackage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubication" class="control-label"></label>
                <input asp-for="Ubication" class="form-control" />
                <span asp-validation-for="Ubication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCode" class="control-label"></label>
                <select asp-for="StatusCode" class="form-control" asp-items="ViewBag.StatusCode"></select>
                <span asp-validation-for="StatusCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
