@model CommonSolution.DTOs.DeliveryAreaDto

@{
    ViewData["Title"] = "Nueva Zona de Entrega";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Zonas de Entrega</h1>
                    <h4 class="m-0 text-dark">Nueva Zona</h4>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content" style="margin-left:25px">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Color" class="control-label"></label>
                            <input type="color" asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="MinPackages" class="control-label"></label>
                            <input asp-for="MinPackages" class="form-control" />
                            <span asp-validation-for="MinPackages" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input onclick="deleteMarkers();" type="button" value="Borrar Markers" class="btn btn-default" />
                        <input id="btn2" type="button" value="Crear" class="btn btn-default" />
                        <input type="button" id="btn1" value="Ingresar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <div id="map" class="form-group" style="width: 800px; height: 600px">

        </div>
        <div id="request" class="form-group" style="width: 800px; height: 600px">

        </div>
        <div id="request" class="form-group" style="width: 800px; height: 600px">

        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCewHvBMDcMrBFlu3aqp1OhShkwSjWLiBQ&callback=initMap"
            async></script>
    <script src="~/maps/DeliveryAreas.js"></script>
}
